body,

body.page-template-page-accueil-antenne-principale-php,
body.page-template-page-accueil-chant-gregorien-php,
body.page-template-page-accueil-enseignement-php,
body.page-template-page-accueil-parole-de-dieu-php,
body.page-template-page-accueil-louange-php,
body.page-template-page-accueil-musique-sacree-php,
body.page-template-page-accueil-al-raja-php,
body.page-template-page-accueil-au-fil-du-temps-php,

body.antenne-principale,
body.chant-gregorien,
body.enseignement,
body.parole-de-dieu,
body.louange,
body.musique-sacree,
body.al-raja,
body.au-fil-du-temps
{
	background-color: #b90000;
}
div.mag h5{margin: 0 0 0 0 !important; color:#FFF !important; text-align:center; font-size:0.8em; background:#790000;line-height:20px}
div#column-single h2 {font-size:1.3em;color: #790000; text-align:center;}
div#column-single h3 {font-size:1.2em;}
div#column-single h4 {font-size:1.0em;color: #790000;}
strong {color:#790000;}
a:link,a:visited{color:#7f5279;}

.block-button,
.block-button:visited,
.Button {
	background: url(images/bg-block-button.png) left bottom repeat-x #b90000;
	background: -moz-linear-gradient(#b90000, #530000);
	background: -webkit-linear-gradient(#b90000, #530000);
	background: linear-gradient(#b90000, #530000);
	border: 1px solid #530000;
	font: 12px/16px Georgia,Serif;
}
#sblogin{
	background: url(images/bg-block-button.png) left bottom repeat-x #b90000;
	background: -moz-linear-gradient(#b90000, #530000);
	background: -webkit-linear-gradient(#b90000, #530000);
	background: linear-gradient(#b90000, #530000);
	border: 1px solid #530000;
	font: 12px/16px Georgia,Serif;	
	}



.block-button:hover {
	background: url(images/bg-block-button-hover.png) left bottom repeat-x #530000;
	background: -moz-linear-gradient(#530000, #b90000);
	background: -webkit-linear-gradient(#530000, #b90000);
	background: linear-gradient(#530000, #b90000);
	font: 12px/16px Georgia,Serif;
}
