body,

body.page-template-page-accueil-antenne-principale-php,
body.page-template-page-accueil-chant-gregorien-php,
body.page-template-page-accueil-enseignement-php,
body.page-template-page-accueil-parole-de-dieu-php,
body.page-template-page-accueil-louange-php,
body.page-template-page-accueil-musique-sacree-php,
body.page-template-page-accueil-al-raja-php,
body.page-template-page-accueil-au-fil-du-temps-php,

body.antenne-principale,
body.chant-gregorien,
body.enseignement,
body.parole-de-dieu,
body.louange,
body.musique-sacree,
body.al-raja,
body.au-fil-du-temps
{
	background-color: #d1a8a8;
}
div.mag h5{margin: 0 0 0 0 !important; color:#FFF !important; text-align:center; font-size:0.8em; background:#a98888;line-height:20px}
div#column-single h2 {font-size:1.3em;color: #a98888; text-align:center;}
div#column-single h3 {font-size:1.2em;}
div#column-single h4 {font-size:1.1em;color: #a98888;}
strong {color:#a98888;}
a:link,a:visited{color:#a98888;}

.block-button,
.block-button:visited,
.Button {
	background: url(images/bg-block-button.png) left bottom repeat-x #d1a8a8;
	background: -moz-linear-gradient(#d1a8a8, #6a3939);
	background: -webkit-linear-gradient(#d1a8a8, #6a3939);
	background: linear-gradient(#d1a8a8, #6a3939);
	border: 1px solid #6a3939;
	font: 12px/16px Georgia,Serif;
}
#sblogin{
	background: url(images/bg-block-button.png) left bottom repeat-x #d1a8a8;
	background: -moz-linear-gradient(#d1a8a8, #6a3939);
	background: -webkit-linear-gradient(#d1a8a8, #6a3939);
	background: linear-gradient(#d1a8a8, #6a3939);
	border: 1px solid #6a3939;
	font: 12px/16px Georgia,Serif;
	
	}


.block-button:hover {
	background: url(images/bg-block-button-hover.png) left bottom repeat-x #6a3939;
	background: -moz-linear-gradient(#6a3939, #d1a8a8);
	background: -webkit-linear-gradient(#6a3939, #d1a8a8);
	background: linear-gradient(#6a3939, #d1a8a8);
	font: 12px/16px Georgia,Serif;
}